<div class="azul500 col-md-2 d-flex flex-column">
  <img alt="Bootstrap Image Preview" src="/assets/img/Group.svg" class="logo" />
<!-- <div *ngIf="admin"> -->
<div *ngIf="role==='2'">
  <!-- <div> -->
  <app-boton
  [claseDesbloqueado]="claseBotonDesbloqueado"
  [claseBloqueado]="claseBotonBloqueado"
  [imageUrlDesbloqueado]="imageUrlDashboardDesbloqueado"
  [imageUrlBloqueado]="imageUrlDashboardBloqueado"
  label="Panel de control"
  [route]="dashboardRoute"
  [bloqueado]="bloqueadoPanelControl"
  (click)="activarPanelControl()"
></app-boton>
<app-boton
  [claseDesbloqueado]="claseBotonDesbloqueado"
  [claseBloqueado]="claseBotonBloqueado"
  [imageUrlDesbloqueado]="imageUrlEmbarcacionDesbloqueado"
  [imageUrlBloqueado]="imageUrlEmbarcacionBloqueado"
  label="Gestión de embarcaciones"
  [route]="embarcacionRoute"
  [bloqueado]="bloqueadoGestionEmbarcaciones"
  (click)="activarGestionEmbarcaciones()"
></app-boton>
<app-boton
  [claseDesbloqueado]="claseBotonDesbloqueado"
  [claseBloqueado]="claseBotonBloqueado"
  [imageUrlDesbloqueado]="imageUrlTransitosDesbloqueado"
  [imageUrlBloqueado]="imageUrlTransitosBloqueado"
  label="Gestión de transitos"
  [route]="transitosRoute"
  [bloqueado]="bloqueadoGestionTransitos"
  (click)="activarGestionTransitos()"
></app-boton>

<app-boton
  [claseDesbloqueado]="claseBotonDesbloqueado"
  [claseBloqueado]="claseBotonBloqueado"
  [imageUrlDesbloqueado]="imageUrlPbDesbloqueado"
  [imageUrlBloqueado]="imageUrlPbBloqueado"
  label="Gestión de plazas base"
  [route]="plazasBaseRoute"
  [bloqueado]="bloqueadoGestionPlazaBase"
  (click)="activarGestionPlazaBase()"
></app-boton>
</div>

</div>
