<div class="resumen-pedido">
  <div class="background">
    <div class="content">
      <h2 class="title">Resumen del pedido</h2>
      <div class="item">
        <p class="label">Total de servicios ¡</p>
        <span class="value">20,00€</span>
      </div>
  
      <div class="item">
        <p class="label">Descuento total</p>
        <span class="value">0,00€</span>
      </div>
      <div class="item">
        <p class="label">Gastos de gestión</p>
        <span class="value">1,50€</span>
      </div>
      <div class="total">
        <p class="label-t">Total :</p>
        <span class="value-t">21,50€</span>
      </div>
      <div class="item">
        <span class="letrita">
          El IVA del 21% se aplicará al total de tu pedido.
        </span>
      </div>
      <div class="botones">
        <button class="btn boton" (click)="realizarPago()" [disabled]="!botonPagoActivado">Ir al pago</button>

      </div>
    </div>
  </div>
</div>
