.resumen-pedido {
  width: 349px;
  height: auto;
  border-radius: 10px;
  background: #eaeff4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  margin: auto;
}

.title {
  color: var(--Wedgewood-950, #1d2834);
  text-align: center;
  /* H4 Lorem ipsum dolor */
  -webkit-text-stroke: 1.5px var(----Wedgewood-950, #1d2834);
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 25px;
}
.label-t {
  font-family: Questrial;
  font-size: 31.25px;
  font-weight: 400;
  color: black;
  flex: 1;
  text-align: center;
}
.value-t {
  font-family: Questrial;
  font-size: 31.25px;
  font-weight: 400;
  color: black;
  flex: 1;
  text-align: center;
}
.total {
  display: flex;
  justify-content: space-between;
}

.label {
  font-family: Questrial;
  font-size: 16px;
  font-weight: 400;
  color: black;
  flex: 1;
}

.value {
  font-family: Questrial;
  font-size: 16px;
  font-weight: 400;
  color: black;
  flex: 1;
  text-align: center;
}
.boton {
  border-radius: 3.279px;
  background: var(--Golden-Tainoi-500, #f98f07);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 36.721px;
  color: var(--Golden-Tainoi-50, #fffaeb);
  text-align: center;

  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.letrita {
  color: var(--Wedgewood-300, #a6bed3);

  font-family: Questrial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .resumen-pedido {
    width: 100%;
    padding: 15px;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .item {
    margin-left: 0;
  }

  .label-t,
  .value-t {
    font-size: 24px;
  }

  .label,
  .value {
    font-size: 14px;
  }

  .botones {
    align-items: center;
    justify-content: center;
  }

  .letrita {
    font-size: 10px;
  }
}