<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="account-navigation">
        <a class="izquierdaT">Inicio/</a> <span class="perfil">Pagos</span>
      </div>
      <div class="contenedordelacesta">
        <div class="group-container">
          <div class="rectangle">
            <p class="selectmet">
              Este servicio se realizará en esta embarcación:
            </p>
            <div class="content-container">
              <div class="add-card">
                <div class="content">
                  <p class="card-label">
                    Nombre: <span class="card-label">dddd</span>
                  </p>
                  <p class="card-label">
                    Tipo: <span class="card-data">dd</span>
                  </p>
                  <p class="card-label">
                    Matrícula: <span class="card-data">k</span>
                  </p>
                  <p class="card-label">
                    Origen: <span class="card-data">h</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group-container">
          <div class="rectangle">
            <p class="selectmet">Seleccione su método de pago</p>
            <div class="content-container">
              <div class="card-details">
                <div class="card-info">
                  <img src="assets/img/creditcard.svg" class="plus" />
                  <p class="card-number">**** **** **** 3456</p>
                </div>
                <div class="owner-expiry">
                  <p class="owner">Propietario: José Ramón García</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-servicesta></app-servicesta>
      </div>
    </div>

    <div class="col-md-4">
      <div class="patata">
        <app-resumenpedido></app-resumenpedido>
      </div>
    </div>
  </div>
</div>
