.account-navigation, .izquierdaT, .Info, .cesta, .perfil {
  color: var(--Wedgewood-950, #1d2834);
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-navigation {
  margin: 37px 0 31px 78px;
  position: relative;
}

.izquierdaT {
  margin: 55px 0 35px 78px;
}

.cesta {
  margin: 30px 0;
}

.patata {
  margin: 95px 0 20px;
}

.contenedordelacesta {
  margin: 35px 0 0 190px;
}

.group-container {
  width: 750px;
  height: 196px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  margin-bottom: 15px;
}

.rectangle {
  width: 750px;
  height: auto;
  background: #d0dce7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.content-container {
  padding-left: 20px;
}

.selectmet {
  color: black;
  font-size: 20px;
  font-family: Questrial;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 25px;
}

.owner {
  color: var(--Wedgewood-400, #769cba);
  font-family: Questrial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 53px;
}

.card-details, .owner-expiry, .card-info {
  display: flex;
  align-items: center;
}

.owner-expiry {
  margin-left: 10px;
}

.expiry-date {
  color: var(--Wedgewood-600, #426787);
  font-family: Questrial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 60px;
}

.plus {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.card-number {
  margin-left: 10px;
  color: var(--Input-Color, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.credit-card-design {
  width: 547px;
  height: auto;
  background: rgba(217, 217, 217, 0);
  border-radius: 5px;
  border: 1px #1d2834 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-card {
  display: flex;
  align-items: center;
}

.card-label {
  color: #000;
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.7;
}

.card-data {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.content {
  margin: auto;
}

.resumen-pedido {
  width: 349px;
  height: auto;
  border-radius: 10px;
  background: #eaeff4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 25px;
}

.label-t, .value-t {
  font-family: Questrial;
  font-size: 31.25px;
  font-weight: 400;
  color: black;
  flex: 1;
  text-align: center;
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.total {
  display: flex;
  justify-content: space-between;
}

.label, .value {
  font-family: Questrial;
  font-size: 16px;
  font-weight: 400;
  color: black;
  flex: 1;
  text-align: center;
}

.boton {
  border-radius: 3.279px;
  background: var(--Golden-Tainoi-500, #f98f07);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 36.721px;
  color: var(--Golden-Tainoi-50, #fffaeb);
  text-align: center;
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 190px;
}

.letrita {
  color: var(--Wedgewood-300, #a6bed3);
  font-family: Questrial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: var(--Wedgewood-950, #1d2834);
  text-align: center;
  -webkit-text-stroke: 1.5px var(--Wedgewood-950, #1d2834);
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 30px;
}

input, select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Questrial", sans-serif;
  color: #555;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
}

@media (max-width: 1366px) {
  .account-navigation {
    margin-left: 40px;
  }
  
  .izquierdaT {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .contenedordelacesta {
    margin-left: 40px;
  }
  
  .botones {
    margin-left: 40px;
  }
}