.account-navigation {
  margin-top: 37px;
  margin-left: 78px;
  margin-bottom: 31px;
  position: relative;
}
a {
  text-decoration: none;
}
.izquierdaT {
  color: var(--Wedgewood-950, #1d2834);
  /* H4 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
  margin-left: 78px;
  margin-bottom: 35px;
}
.Info {
  color: var(--Wedgewood-950, #1d2834);
  /* H1 Lorem ipsim dolor */
  font-family: Questrial;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}

.cesta {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--Wedgewood-950, #1d2834);
  /* H4 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.patata {
  margin-top: 95px !important;
  margin-bottom: 20px;
}

.perfil {
  color: var(--Wedgewood-950, #1d2834);
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contenedordelacesta {
  margin-top: 35px;
  margin-left: 190px;
}
.group-container {
  width: 750px;
  height: 196px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* 
.rectangle {
  width: 750px;
  height: 196px;
  background: #d0dce7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  margin-top: 30px;
} 
.rectangle {
  width: 750px;
  height: 196px;
  background: #D0DCE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.content-container {
  padding-left : 20px;
}

.selectmet {
  color: black;
  font-size: 20px;
  font-family: Questrial;
  font-weight: 400;

  padding-top: 20px;
  padding-left: 25px;
}

.owner {
  color: var(--Wedgewood-400, #769cba);
  font-family: Questrial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 53px;
}

.card-details {
  width: 100%;
  max-width: 500px;
  margin-left: 35px;
}

.owner-expiry {
  margin-left: 10px;
}
.card-info {
  display: flex;
  align-items: center;
}

.plus {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
/* .card-info,
.owner-expiry {
  display: flex;
  align-items: center;
} */
.card-number {
  margin-left: 10px;
  color: var(--Input-Color, #000);
  /* P Lorem ipsim dolor */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.credit-card-design {
  width: 547px;
  height: auto;
  background: rgba(217, 217, 217, 0);
  border-radius: 5px;
  border: 1px #1d2834 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-card {
  display: flex;
  align-items: center;
}
.card-label {
  color: #000;

  /* H4 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.7;
}
.card-data {
  color: #000;
  text-align: center;
  /* P Lorem ipsim dolor */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.content {
 margin-top: -10px;
 margin-left: 50px;
}

