<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="account-navigation">
        <a class="izquierdaT">Inicio/</a> <span class="perfil">Pagos</span>
      </div>
        <div class="contenedordelacesta">



            <div class="group-container">
                <div class="rectangle">
                
                  <div class="content-container">
                                   
                    <div class="text-column">
                      <div class="text-container">
                        <p class="title">REPOSTAJE</p>
                      </div>
                      <div class="text-container">
                        <p class="price">20,00€</p>
                      </div>
                      <div class="text-container"></div>
                    </div>
                   
              </div>
            
              </div>
              </div>
              














          <app-servicesta></app-servicesta>
         
        </div>
  
     
    </div>

    <div class="col-md-4">
      <div class="patata">
        
        <app-resumenpedido></app-resumenpedido>
      </div>
    </div>
  </div>
</div>
