<div class="container-fluid">
  <div class="row titulo">
    <div class="col-12 text-center">
      <h3><b>Confirmación de tránsitos</b></h3>
    </div>
  </div>
</div>


<div class="container-fluid ">
  <div class="row contenido">
    <div class="col-1"></div>
    <div class="col-10">
      <br><br>
      
      <router-outlet></router-outlet>
 
      <br><br>
      
      

    </div>
    <div class="col-1"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-center footer">
    <div class="col-2 text-center">

      <a href="movil"><img src="/assets/img/mingcute_traffic-lights-fill.svg" alt="Botón 1" class="img-fluid"></a>

    </div>
    <div class="col-2 text-center">
      <a href="movil/card-incidencia"><img src="/assets/img/ant-design_notification-outlined.svg" alt="Botón 2" class="img-fluid"></a>
    </div>
    <div class="col-4">
    </div>
    <div class="col-2 text-center">
      <img src="/assets/img/material-symbols-light_account-circle.svg" alt="Botón 3" class="img-fluid">
    </div>
    <div class="col-2 text-center">
      <a href="" (click)="logout()"><img src="/assets/img/mdi-light_logout.svg" alt="Botón 4" class="img-fluid"></a> 
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

