<div class="credit-card-design">
  <div class="add-card">
    <div class="content">
      <p class="card-label">Nombre: <span class="card-label">dddd</span></p>
      <p class="card-label">Tipo: <span class="card-data">dd</span></p>
      <p class="card-label">
        Matrícula: <span class="card-data">{{ boatData.matricula }}</span>
      </p>
      <p class="card-label">
        Origen: <span class="card-data">{{ boatData.origen }}</span>
     
      </p>
    
    </div>
 
  </div>
 


 
 <button class="link" (click)="openModal()">Ver detalles</button>


</div>
