.notificaciones {
    padding: 50px;
}

table {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);

}

th {
    background-color: var(--wedgewood600);
    color: var(--wedgewood50);
    font-family: 'Questrial', sans-serif;

}

.cabeceraTabla {
    font-size: 30px;
    font-weight: lighter;
}

td {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: #000000;


}

.cabeceraDatos>th {
    background-color: var(--wedgewood300);
    color: black;
    font-weight: bold;

}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: var(--wedgewood200);

}

.filaPersonalizada {
    height: 100px;
}

.modal-content {
    width: 450px;
}

.modal-header {
    background-color: var(--wedgewood600);
    height: 50%;
    color: var(--wedgewood50);
    font-family: 'Questrial', sans-serif;

    font-weight: lighter;
}

.modal-title {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.modal-footer {
    border: none;
}

.close{
    /* background-color: var(--wedgewood600);
    color: var(--wedgewood50); */
    border-radius: 5px;
}