<div class="notificaciones">
  <table
   [dtTrigger]="dtTrigger"
    datatable
    [dtOptions]="dtOptions"
    class="table table-hover table-custom-hover rounded-3 overflow-hidden table-striped"
  >
    <thead>
      <tr>
        <th [attr.colspan]="12" class="cabeceraTabla">NOTIFICACIONES</th>
      </tr>
      <tr class="cabeceraDatos">
        <th class="text-center">Usuario</th>
        <th class="text-center">Título</th>
        <th class="text-center">Descripción</th>
      
     
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of datos; let i = index"
        class="filaPersonalizada text-center"
        [style.opacity]="item.Leido === 1 ? '0.5' : '1'"
       (click)="someClickHandler(i)"
      >
        <td class="p-4">{{ item.Guardamuelle_nombre }}</td>
        <td class="p-4">{{ item.Titulo }}</td>
        <td class="p-4">{{ item.Descripcion }}</td>
       
        
      </tr>
    </tbody>
  </table>
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{tituloModal}}</h4>
           <button type="btn" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">X</span>
        </button>
        </div>

        <div class="modal-body d-flex justify-content-center align-items-center">{{cuerpoModal}}
           <img
            [src]="
              '/assets/img/embarcaciones/image-outline.svg'"
            alt=""
             class="imgEmb"
          /></div>
        <img [src]="'assets/'+imagenModal" alt="">
        

        <div class="modal-footer justify-content-around">
          <button
            type="button"
            *ngIf="!selectedItem?.Leido"
            (click)="marcarLeido(selectedItem.id)"
            class="btn"
            data-bs-dismiss="modal"
          >
            <img src="/assets/img/check.svg" alt="">
          </button>
          <button
            type="button"
            (click)="eliminarIncidencia(selectedItem.id)"
            class="btn"
            data-bs-dismiss="modal"
          >   <img src="/assets/img/closeNots.svg" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</div>
