<div mat-dialog-content class="modal-body details">
  <div class="details-body">
    <div class="bodyleft">
      <p><span class="label">Nombre: </span>{{ boatData.NombreBarco }}</p>
      <p>
        <span class="label">Tipo de embarcación: </span>{{ boatData.TipoBarco }}
      </p>
      <p><span class="label">Modelo: </span>{{ boatData.Modelo }}</p>
      <p><span class="label">Matrícula: </span>{{ boatData.Matricula }}</p>
      <p><span class="label">Origen: </span>{{ boatData.Origen }}</p>
      <p><span class="label">Nº Registro: </span>{{ boatData.NumeroPlaza }}</p>
    </div>
    <div class="bodyrigth">
      <p><span class="label">Eslora: </span>{{ boatData.Eslora }}</p>
      <p><span class="label">Manga: </span>{{ boatData.Manga }}</p>
      <p><span class="label">Amarre: </span>{{ boatData.Plaza }}</p>
      <p>
        <span class="label">Fecha de Entrada: </span
        >{{ boatData.FechaInicio | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <span class="label">Fecha de Finalización de Contrato: </span
        >{{ boatData.FechaFinalizacion | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
</div>
