.account-navigation {
    margin-top: 37px;
    margin-left: 78px;
    margin-bottom: 31px;
    position: relative;
  }
  
  .account-details {
    margin-left: 78px;
    margin-bottom: 25px;
  }
  
  hr {
    width: 50%;
  }
  
  hr.vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    width: 500px;
    margin-left: 78px;
  }
  
  .contact-details {
    margin-left: 78px;
  }
  .contact-details .camb {
    margin-left: 650px;
    margin-top: -57px;
  }
  
  .MedioT {
    color: var(--Wedgewood-950, #1d2834);
    font-family: Questrial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.463px; /* 147.313% */
  }
  
  .izquierda {
    color: var(--Wedgewood-900, #2c3e4e);
    /* 16 questrial */
    font-family: Questrial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
    margin-left: 78px;
    margin-bottom: 10px;
  }
  .perfil {
    color: var(--Wedgewood-950, #1d2834);
    font-family: Questrial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .izquierdaT {
    color: var(--Wedgewood-950, #1d2834);
    /* H4 Lorem ipsum dolor */
    font-family: Questrial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
    margin-left: 78px;
    margin-bottom: 35px;
  }
  
  a {
    text-decoration: none;
  }
  
  .Info {
    color: var(--Wedgewood-950, #1d2834);
  
    /* H1 Lorem ipsim dolor */
    font-family: Questrial;
    font-size: 39.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
  }
  