<br>

<div class="card">
    <div class="card-header">
      VISTA DEL TRÁNSITO
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <form [formGroup]="formulario" id="formEmbarcacion" class="row justify-content-center" (ngSubmit)="guardarImagen()" enctype="multipart/form-data">
          <div class="col-12 text-center ">
            <!-- <input formControlName="Imagen" id="imgEmb" type="file" class="form-control mt-4" (change)="onFileSelected($event)" /> --> <br>
            
          </div>
          <div class="d-flex justify-content-center">
            <img class="imgEmb" [src]="imagenSeleccionada  ||   '/assets/img/embarcaciones/yate.jpg'" alt="" />

          </div>
          <div class="col-12 text-center mt-2">
            <!-- <button type="submit" class="btn btnAdd">AÑADIR</button> --> <br>
          </div>
        </form>
  
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-3">
            <hr>
          </div>
        </div>
  
        <div class="row justify-content-end mt-2">
          <div class="col-12 text-right">
            <a href="movil/card-incidencia"> <i class="incidencia">Incidencia</i> <img src="/assets/img/Error.svg" alt="Incidencia" class="img-fluid"></a>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-12 mt-4 mb-1">
            <b>Ubicación:</b> {{ transito.ubicacion }}
            <br>
            <b>Matrícula:</b> {{ transito.Matricula }}
            <br>
            <b>Llegada:</b> {{ transito.FechaEntrada }}
            <br>
            <b>Salida:</b> {{ transito.FechaSalida }}
            <br>
            <b>Estado:</b> {{ transito.Estatus }}
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-12 mt-5 ml-4">
            <button type="button" class="botonLlegada"
                    [style.backgroundColor]="transito.Estatus === 'Salida' ? '#FFD700' : '#92CACE'"
                    (click)="transito.Estatus === 'Salida' ? confirmarSalida() : confirmarLlegada()">
                <b>{{ transito.Estatus === 'Salida' ? 'CONFIRMAR SALIDA' : 'CONFIRMAR LLEGADA' }}</b>
            </button>
        </div>
        </div>
  
      </div>
    </div>
  </div>
