<div class="container d-flex justify-content-center">
  <div class="container-centered">
    <div class="d-flex flex-wrap">
      <div class="col-md-4 flex-sm-fill"> <!-- Agrega la clase flex-sm-fill para que las columnas se expandan en dispositivos pequeños -->
        <app-card [titulo]="titulo" [primera]="linea1c1" [datosApi]="datos1" [segunda]="linea2c1" [datosApi2]="datos2" [tercera]="linea3c1" [datosApi3]="datos3" class="overflow-hidden"></app-card>
      </div>
      <div class="col-md-4 flex-sm-fill"> <!-- Igual aquí -->
        <app-card [titulo]="titulo2" [primera]="linea1c2" [datosApi]="datos12" [segunda]="linea2c2" [datosApi2]="datos22" [tercera]="linea3c2" [datosApi3]="datos32" class="overflow-hidden"></app-card>
      </div>
      <div class="col-md-4 flex-sm-fill"> <!-- Igual aquí -->
        <app-cardconchart [titulo]="dura" class="overflow-hidden"></app-cardconchart>
      </div>
    </div>

    <div class="d-flex flex-wrap">
      <div class="col-md-4 flex-sm-fill"> <!-- Igual aquí -->
        <app-card [titulo]="titulo3" [primera]="linea1c3" [datosApi]="datos13" [segunda]="linea2c3" [datosApi2]="datos23" [tercera]="linea3c3" [datosApi3]="datos33" class="overflow-hidden"></app-card>
      </div>
      <div class="col-md-4 flex-sm-fill"> <!-- Igual aquí -->
        <app-card [titulo]="titulo4" [primera]="linea1c4" [datosApi]="datos14" [segunda]="linea2c4" [datosApi2]="datos24" [tercera]="linea3c4" [datosApi3]="datos34" class="overflow-hidden"></app-card>
      </div>
      <div class="col-md-4 flex-sm-fill"> <!-- Igual aquí -->
        <app-card2 [titulo]="dura2" class="overflow-hidden"></app-card2>
      </div>
    </div>

    <div class="d-flex flex-wrap">
      <div class="col-md-6 flex-sm-fill"> <!-- Igual aquí -->
        <app-cardconchart2 [titulo]="dura3" class="overflow-hidden"></app-cardconchart2>
      </div>
      <div class="col-md-6 flex-sm-fill"> <!-- Igual aquí -->
        <app-cardconchart3 [titulo]="dura4" class="overflow-hidden"></app-cardconchart3>
      </div>
    </div>
  </div>
</div>

