<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="account-navigation">
        <a class="izquierdaT" routerLink="/cliente/inicio">Inicio/</a>
        <span class="perfil">Cesta</span>
      </div>
      <div class="contenedordelacesta">
        <div class="cestaCont">
          <h3 class="cesta">Mi cesta</h3>
          <form>
            <div *ngFor="let servicio of serviciosSeleccionados; let i = index">
              <app-servicesta
                [servicio]="servicio"
                (servicioEliminado)="eliminarDelCarrito($event)"
                (servicioSeleccionado)="
                  actualizarServiciosSeleccionados($event)
                "
              ></app-servicesta>
            </div>
          </form>
        </div>
      </div>
      <app-recomendaciones></app-recomendaciones>
    </div>
    <div class="col-md-4">
      <div class="patata">
        <app-resumenpedido
          [serviciosParaPagar]="serviciosParaPagar"
        ></app-resumenpedido>
      </div>
    </div>
  </div>
</div>
