<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="account-navigation">
        <a class="izquierdaT">Inicio/</a> <span class="perfil">Cesta</span>
      </div>
        <div class="contenedordelacesta">
          <h3 class="cesta">Mi cesta</h3>
          <app-servicesta></app-servicesta>
         
        </div>
        <app-recomendaciones></app-recomendaciones>
     
    </div>

    <div class="col-md-4">
      <div class="patata">
        <p class="link">
          <img alt="boat" src="/assets/img/boat.svg" class="boat" />fffff
          <a class="link-e">Editar</a>
        </p>
        <app-resumenpedido></app-resumenpedido>
      </div>
    </div>
  </div>
</div>
