:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonA {
  /* estilo de la caja*/
  border-radius: 5px;
  border: 1px solid var(--Wedgewood-50, #f5f7fa);
  background: var(--Wedgewood-50, #f5f7fa);
  color: #36536e;
  width: 160px;
  height: 40px;
  display: flex;
  text-align: left;
  margin-top: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* texto del boton*/
  color: var(--Wedgewood-700, #36536e);
  -webkit-text-stroke: 1.5px var(--Wedgewood-700, #36536e);
  font-family: Questrial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 10px;
}

.botonB {
    /* estilo de la caja*/
 
  border-radius: 5px;
  border: 1px solid var(--Wedgewood-700, #36536e);
  background: var(--Wedgewood-700, #36536e);
  background-color: #36536e;
  color: #eaeff4;
  width: 160px;
  height: 40px;
  display: flex;
  text-align: left;
  margin-top: 40px;
  cursor: not-allowed;
    /* texto del boton*/
  color: var(--Wedgewood-50, #f5f7fa);
  -webkit-text-stroke: 1.5px var(--Wedgewood-50, #f5f7fa);
  font-family: Questrial;
  font-size: 13px;
   font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
img{
  padding-right: 10px;
}






