<div class="formularioTransitos">
  <div class="formHeader">
    <h5>{{ mostrarVacio ? "ALTA TRANSITO" : "VISTA TRANSITO" }}      
    </h5>
    
  </div>
  <!-- CREACION TRANSITO -->
  <form  id="formTransito" action="" (submit)="guardarTransito()" >
    <div *ngIf="mostrarVacio">
      <div *ngIf="mostrarError">
        <p  class="alert alert-danger" role="alert">La fecha de entrada no puede ser posterior a la fecha de salida.</p>
      </div>
      <div class="d-flex">
        <div class="formLeft">
          <div class="mb-3 d-flex">
            <label for="Fecha de entrada" class="form-label">Fecha de entrada:</label>
            <input  name="fecha_entrada" type="date" class="form-control mt-4" placeholder="Fecha de entrada"  />
          </div>
          <div class="mb-3 d-flex">
            <label for="Fecha de salida" class="form-label">Fecha de salida:</label>
            <input name="fecha_salida" type="date" class="form-control mt-4" placeholder="Fecha de salida" />
          </div>
          <div class="mb-3 d-flex">
            <label for="Embarcacion" class="form-label">Embarcación:</label>
            <select [(ngModel)]="selectedEmbarcacion" name="embarcacion"  class="form-control mt-4"(change)="onChangeEmbarcacion()">
            <option *ngFor="let item of datos" [value]="item.id">{{ item.Matricula }}</option>

            </select>                  
          </div>
          <div class="mb-3 d-flex">
          <label for="instalacion" class="form-label">Instalaciones:</label>
            <select [(ngModel)]="selectedInstalacion" name="instalacion" class="form-control mt-4" (change)="onChangeInstalacion()">
              <option ></option>
              <option *ngFor="let instalaciones of instalacion" [value]="instalaciones.id">{{ instalaciones.Ubicacion }}</option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <label for="pantalan" class="form-label">Pantalanes:</label>
            <select  *ngIf="selectedInstalacion" [(ngModel)]="selectedPantalan" class="form-control mt-4"  name="pantalan" (change)="onChangePantalan()">
              <option ></option>
              <option *ngFor="let pantalanes of pantalan" [value]="pantalanes.id">{{ pantalanes.Nombre }}</option>
            </select>
          </div>
          <div class="mb-3 d-flex">
            <label for="amarre" class="form-label">Amarres disponibles:</label>
            <select *ngIf="selectedPantalan" [(ngModel)]="selectedAmarre" name="amarre" class="form-control mt-4" >
              <option ></option>
              <option *ngFor="let amarres of amarre" [value]="amarres.id">{{ amarres.Numero }}</option>
            </select>
          </div>
        </div>
        <div class="formRight">
          <div class="mb-3 d-flex">
            <label for="titular" class="form-label">Titular:</label>
            <input name="titular"  type="text" class="form-control mt-4" placeholder="Titular"  [(ngModel)]="titular" disabled  />
          </div>

          <input
          type="hidden"
          id="campoOculto"
          name="campoOculto"
          [value]="idLocalStorage"
        />
        
          <div class="tripulante mb-3 d-flex" >              
            <app-tabla-tripulante [mostrar]='mostrar' [click]="click"></app-tabla-tripulante>
          </div>
          <div class="d-flex justify-content-end mt-5">
            <button class="btn btnCancelar" routerLink="../tabla">
              CANCELAR
            </button>
            <button type="submit"  class="btn btnAdd" >AÑADIR</button>
          </div>
         
        </div>
      </div>
    </div>

    <!-- MODIFICAR TRANSITO -->
    <div *ngIf="!mostrarVacio">
      <div *ngIf="mostrarError">
        <p class="alert alert-danger" role="alert">La fecha de entrada no puede ser posterior a la fecha de salida.</p>
      </div>
      <div class="d-flex">
        <div class="formLeft">
          <div class="mb-3 d-flex">
            <label for="fecha_entrada" class="form-label">Fecha de entrada:</label>
            <input name="fecha_entrada"  type="date" class="form-control mt-4" placeholder="Fecha de entrada"
              [(ngModel)]="transitoSeleccionada.FechaEntrada" [attr.readonly]="modoVista ? 'readonly' : null"  />
          </div>
          <div class="mb-3 d-flex">
            <label for="fecha_salida" class="form-label">Fecha de salida:</label>
            <input name="fecha_salida" type="date" class="form-control mt-4" placeholder="Fecha de salida"
              [(ngModel)]="transitoSeleccionada.FechaSalida" [attr.readonly]="modoVista ? 'readonly' : null"  />
          </div>
          <div class="mb-3 d-flex">
            <label for="Embarcacion" class="form-label">Embarcación:</label>
            
            <input name="Embarcacion"  type="text" class="form-control mt-4" placeholder="Matricula"
            [(ngModel)]="transitoSeleccionada.Matricula" disabled  />
          </div>
          <div class="mb-3 d-flex">
            <label for="Instalacion" class="form-label">Instalación:</label>
            <input name="instalacion"  type="text" class="form-control mt-4" placeholder="Instalacion"
            [(ngModel)]="transitoSeleccionada.Instalacion" disabled  />
          </div>
          <div class="mb-3 d-flex">
            <label for="Pantalán" class="form-label">Pantalán:</label >
              <input name="pantalan"  type="text" class="form-control mt-4" placeholder="Pantalán"
              [(ngModel)]="transitoSeleccionada.Pantalan" disabled  />
          </div>
          <div class="mb-3 d-flex">
            <label for="Amarre" class="form-label">Amarre:</label>
            <input name="amarre"  type="text" class="form-control mt-4" placeholder="Amarre"
            [(ngModel)]="transitoSeleccionada.Numero" disabled  />
          </div>
          
         
        </div>
        <div class="formRight">
          <div class="mb-3 d-flex">
            <label for="titular" class="form-label">Titular:</label>
            <input name="titular"  type="text" class="form-control mt-4" placeholder="Titular"
            [(ngModel)]="transitoSeleccionada.Titular" disabled  />
          </div>
          <div class="tripulante mb-3 d-flex">              
            <app-tabla-tripulante [mostrar]="noMostrar" [click]="noClick"></app-tabla-tripulante>
          </div>
          <div class="d-flex justify-content-end mt-5 botones-container">
            <button
            *ngIf="!modoVista"
            class="btnDelete btn"
            (click)="eliminarTransito()"
            
          >
            ELIMINAR
          </button>
          <button
            *ngIf="!modoEdicion"
            class="btn btnCancelar"
            routerLink="../tabla"
          >
            CANCELAR
          </button>
  
          <button
        
          *ngIf="modoVista" class="btn btnBack" routerLink="../tabla">VOLVER
         </button>
  
          <button
            *ngIf="modoVista"
            class="btn btnVista"
            (click)="activarModoEdicionTripulante()"
          >
            EDITAR
          </button>
         
          <button (click)="actualizarTransito()" *ngIf="!modoVista" class="btn btnAdd"
         >EDITAR</button>
        </div>
           
          
        
        </div>
      </div>
    </div>
  </form>
</div>