.izquierda {
  color: var(--Wedgewood-900, #2c3e4e);
  font-family: Questrial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 37px;
  margin-left: 78px;
  margin-bottom: 10px;
}
.izquierdaT {
  color: var(--Wedgewood-950, #1d2834);
  /* H4 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
  margin-left: 78px;
  margin-bottom: 35px;
}

a {
  text-decoration: none;
}
@media (max-width: 1200px) {
  .izquierda,
  .izquierdaT {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .izquierda,
  .izquierdaT {
    margin-left: 20px;
    font-size: 16px;
  }

  .izquierdaT {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .izquierda,
  .izquierdaT {
    margin-left: 10px;
    font-size: 14px;
  }

  .izquierdaT {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}