.topbar {
  display: flex;
  align-items: center;
 
  height: 74px;
  background: var(--Wedgewood-500, #4f7796);
  padding: 0 20px; /* Agrega relleno a los extremos */
}

.logo {
  margin-left: 60px;
  width: 89px;
  height: 57.675px;
  filter: drop-shadow(1.203px 1.203px 1.804px rgba(0, 0, 0, 0.4));
}

.carrito {
  position: relative;
 left: 54%;
  width: 50px;
  height: 50px;
  margin-top: 9px;
  margin-bottom: 15px;
  margin-right: 31px;
}

.personita {
  position: relative;
  left: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--Wedgewood-50, #f5f7fa);

  color: var(--Wedgewood-900, #2c3e4e);
  text-align: center;
  /* H4 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

 
}
.personita .icono {
  width: 50px;
  height: 50px;
  background-image: url("/assets/img/usuario.svg");
  background-size: cover;

  border-radius: 50%;
  background-color: #ffa500;
  left: 5px;
  position: absolute;
}

input[type="text"]::placeholder {
  text-indent: 10px;
}
input[type="text"] {
  background-image: url(/assets/img/ion_search.svg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px;
  width: 441px;
  display: flex;
  height: 48px;
  padding-left: 40px;
  align-items: center;
  align-self: stretch;
  border: none;
  border-radius: 4px;
  background-clip: padding-box;
}

.buscador {
  position: relative;
  left: 125%;
}

.topbardos{

  height: 50px;
  background: var(--Wedgewood-900, #2C3E4E);

  color: var(--Wedgewood-50, #F5F7FA);

  /* H3 Lorem ipsum dolor */
  font-family: Questrial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


  padding-top: 6px;



}
.menu{
  margin-left: 26px;
}