<h1 mat-dialog-title class="dheader">BAJA TRANSITO</h1>
<div mat-dialog-content class="dbody d-flex justify-content-center align-items-center">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
        <label for="embarcacion">Embarcación</label>
        <input matInput id="embarcacion" [(ngModel)]="formData.embarcacion" name="embarcacion" readonly>
      </mat-form-field><br>
  
      <mat-form-field>
        <label for="amarre">Amarre</label>
        <input matInput id="amarre" [(ngModel)]="formData.amarre" name="Amarre" readonly>
      </mat-form-field><br>
  
     

    <div mat-dialog-actions>
      <button class="btnDelete btn" mat-button type="button" (click)="onNoClick()">Cancelar</button>
      <button class="btnAdd btn" mat-button type="submit">Eliminar</button>
    </div>
  </form>
</div>
