<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="account-navigation">
        <a class="izquierdaT">Inicio/</a> <span class="perfil">Mi perfil</span>
        <app-lateral></app-lateral>
       
      </div>
    </div>

    <div class="col-md-9">
      <div class="Info">Información de la cuenta</div>
      <br />
      <div class="welcome-message">
        <h3 class="wmesa">Te damos la bienvenida a tu cuenta de usuario</h3>
        <h4 class="wmesa">Hola  {{ fullname }}</h4>
      </div>

      <div class="account-details">
        <form class="formacount">
          <div class="formLeft">
            <div class="mb-3 d-flex">
              <label class="Label-f">Nombre:</label>
              <input type="text" class="" />
            </div>
            <div class="mb-3 d-flex">
              <label class="Label-f">Cumpleaños</label>
              <input type="date" class="" />
            </div>
          </div>
          <div class="formRight">
            <div class="mb-3 d-flex">
              <label class="Label-f">Género:</label>
              <select>
                <option value="value1">Femenino</option>
                <option value="value2" selected>Femenino</option>
                <option value="value3">Femenino</option>


              </select>
        
            </div>
            <button class="btn guarda">GUARDAR</button>
          </div>

        </form>
      </div>

      <div class="contact-details">
        <div>
          <hr />
          <form>
          <label class="MedioT">CORREO</label>
          <div>x@example.com</div>
          <button class="btn camb">CAMBIAR</button>
        </form>
        </div>
        <div>
          <hr />
          <form>
          <label class="MedioT">TELÉFONO</label>
          <div>999999999</div>
          <button class="btn camb">CAMBIAR</button>
        </form>
        </div>
        <div>
          <hr />
          <form>
          <label class="MedioT">CONTRASEÑA</label>
          <div>********************</div>
          <button class="btn camb">CAMBIAR</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
