<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="account-navigation">
        <a class="izquierdaT" routerLink="/cliente/inicio">Inicio/</a> <span class="perfil">Mi perfil</span>
        <app-lateral></app-lateral>
      </div>
    </div>

    <div class="col-md-9">
      <div class="Info">Información de la cuenta</div>
      <br />
      <div class="welcome-message">
        <h3 class="wmesa">Te damos la bienvenida a tu cuenta de usuario</h3>
        <h4 class="wmesa">Hola {{ newNombre }}</h4>
      </div>

      <div class="account-details">
        <form class="formacount" (ngSubmit)="actualizarDatos()">
          <div class="formLeft">
            <div class="mb-3 d-flex">
              <label class="Label-f">Nombre:</label>
              <input type="text" [(ngModel)]="newNombre" name="newNombre" />
            </div>
            <div class="mb-3 d-flex">
              <label class="Label-f">Cumpleaños</label>
              <input
                type="date"
                [(ngModel)]="fechaNacimiento"
                name="fechaNacimiento"
              />
            </div>
          </div>
          <div class="formRight">
            <div class="mb-3 d-flex">
              <label class="Label-f">Género:</label>
              <select [(ngModel)]="newGenero" name="genero">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="button-container">
              <button type="submit" class="btn guarda">GUARDAR</button>
            </div>
          </div>
        </form>
      </div>

      <div class="contact-details">
        <div>
          <hr />
          <form (ngSubmit)="actualizarCorreo()">
            <label class="MedioT">CORREO</label>
            <div>
              <input [(ngModel)]="newEmail" name="newEmail" type="email"/>
            </div>
            <button type="submit" class="btn camb">CAMBIAR</button>
          </form>
        </div>
        <div>
          <hr />
          <form (ngSubmit)="actualizarTelefono()">
            <label class="MedioT">TELÉFONO</label>
            <div>
              <input [(ngModel)]="newTelefono" name="newTelefono" type="text" />
            </div>
            <button type="submit" class="btn camb">CAMBIAR</button>
          </form>
        </div>
        <div>
          <hr />
          <form (ngSubmit)="actualizarContra()">
            <label class="MedioT">CONTRASEÑA</label>
            <div>
              <input
                type="password"
                placeholder="*********"
                name="newPassword"
                [(ngModel)]="newPassword"
                required
              />
            </div>
            <button type="submit" class="btn camb">CAMBIAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
