@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");

.card {
  width: 400px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}
.card-body {
  flex: 1;
  overflow: hidden;
}
.chart-container {
  height: 100%;
}
#prueba{
  width: 50%;
}
.card-header {
  width: 400px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: var(--Wedgewood-600, #426787);
  color: #fff;
  font-family: Questrial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}