<div class="col-md-9">
  <div class="Info">Añadir tarjeta de crédito/débito</div>

  <br />
  <form class="formacount">
    <div class="formLeft">
      <div class="mb-3 d-flex">
        <label class="Label-f">Número de tarjeta:</label>
        <input type="text" placeholder="Introduce el número" />
      </div>
      <div class="mb-3 d-flex">
        <label class="Label-f">Nombre de tarjeta:</label>
        <input type="text" placeholder="Introduce el nombre" />
      </div>

      <div class="mb-3 d-flex">
        <label class="Label-f">Vencimiento (MM/AA):</label>
        <input type="text" placeholder="Introduce una fecha" />
      </div>
      <div class="mb-3 d-flex">
        <label class="Label-f">CVV:</label>
        <input type="text" placeholder="Introduce el número" />
      </div>
      <button type="submit" class="btn camb">CONFIRMAR</button>
    </div>
  </form>
</div>
