
<div class="rectangle"  (click)="openModal()">
  <img class="imgservice" src="https://via.placeholder.com/65x59" />
  <div class="info">
    <p class="servi">
        Servicio: <span class="service">Limpieza</span>
      </p>
      <p class="servi">
        Contratado: <span class="service">01/03/2024</span>
      </p>
</div>
    <div class="right-column">
      <p class="servi">Estado:
      <span class="service">{{ status }}</span>
      <img [src]="statusImageUrl" class="status-image" /></p>
      <a class="drop"> Dar de baja <img src="assets/img/stop.svg" /> </a>
    </div>
     


</div>
