<div class="  container-fluid">
  <div class=" contenedor-login row  w-75 postal position-absolute top-50 start-50 translate-middle shadow p-4">
    <!-- Decoración a la izquierda -->
    <div class=" col-md-6  h-100 d-flex flex-column justify-content-center background-left position-relative ">
      <div class="welcomeLogin w-100">
        <h2 class="w-100">BIENVENIDO</h2>
      </div>


      <!-- Imagen abajo a la izquierda -->
      <img src="/assets/img/Group.svg" alt="Logo Portos de Galicia" class="img-fluid position-absolute bottom-0 start-0 mb-4 ms-3 desktop-image">
    <img src="/assets/img/Group_Movil.svg" alt="Logo Portos de Galicia" class="img-fluid position-absolute  start-50 translate-middle mb-4 mt-4 mobile-image">
    </div>

    <br><br>

    <!-- Formulario de inicio de sesión a la derecha -->
    <div class="col-md-6 h-100 d-flex flex-column justify-content-center">
      <div>
        <h1 class="textHeaderLogin"><strong>Login</strong></h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
          </div>
          <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
          </div>
          <div *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
          </div>

          <div class="mb-5">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="EMAIL"
            />
          </div>

          <div class="mb-5">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="CONTRASEÑA"
            />
            <a href="#"> </a>
          </div>

         
          <div class="mb-5 d-flex justify-content-between align-items-center">
           
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="recordarContrasena"
                name="recordarContrasena"
              />
              <label class="remeberPassword" for="recordarContrasena"
                >Recordar contraseña</label
              >
            </div>

            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>

          <button type="submit" class="mt-4 float-end">ENVIAR</button>
        </form>
        <ng-template #forgotPasswordModal>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Recuperar Contraseña</h4>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="inputEmail">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                name="inputEmail"
              />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>