<app-topbar></app-topbar>

<div class="container">
  <form class="formacount">
    <div class="formLeft">
      <img class="image" src="https://via.placeholder.com/500x700" />
    </div>
    <div class="formRight">
      <h1 class="title">REPOSTAJE</h1>
      <p class="description">
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut al
      </p>

      <div class="priceSection">
        <div class="priceBackground">
          <span class="priceTitle">PRECIOS</span>
        </div>
      </div>

      <div class="options">
        <div class="option">
          <div class="optionContent">
            <label class="optionTitle">Mensual</label>
            <div class="centra">
              <input
                type="radio"
                name="nombre"
                class="optionPrice"
                value="150"
              />
              <span class="optionPriceText"> 150</span>
            </div>
          </div>
          <div class="additionalInfo">
            <p class="infoItem">Se factura automáticamente cada mes.</p>
            <p class="infoItem">
              Ahorra un 25% en comparación con la opción de pago único.
            </p>
          </div>
        </div>
        <div class="option">
          <div class="optionContent">
            <label class="optionTitle">Una vez</label>
            <div class="centra">
              <input type="radio" name="nombre" class="optionPrice" value="c" />
              <span class="optionPriceText"> 20</span>
            </div>
          </div>
          <div class="additionalInfo">
            <p class="infoItem">Pago único por el servicio de repostaje</p>

          
            <p class="infoItem">
              Ideal para aquellos que necesitan repostar de forma esporádica o
              puntual.
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button addToCart">AÑADIR A LA CESTA</button>
        <button class="button contractNow">CONTRATALO YA</button>
      </div>
    </div>
  </form>
</div>
