<app-topbar></app-topbar>

<div class="container">
  <form class="formacount" (submit)="agregarALaCesta()">
    <div class="formLeft">
      <img [src]="servicio.imageUrl" alt="{{ servicio.Nombre }}" />
    </div>
    <div class="formRight">
      <h1 class="title">{{ servicio.Nombre }}</h1>
      <p class="description">
        {{ servicio.Descripcion }}
      </p>

      <div class="priceSection">
        <div class="priceBackground">
          <span class="priceTitle">PRECIOS</span>
        </div>
      </div>

      <div class="options">
        <div class="option">
          <div class="optionContent">
            <label class="optionTitle">Mensual</label>
            <div class="centra">
              <input
                type="radio"
                name="optionPrice"
                class="optionPrice"
                [value]="servicio.Precio_mensual"
                (change)="precioSeleccionado = servicio.Precio_mensual"
              />

              <span class="optionPriceText">
                {{ servicio.Precio_mensual }}</span
              >
            </div>
          </div>
          <div class="additionalInfo">
            <p class="infoItem">{{ servicio.Mensaje_mensual }}</p>
          </div>
        </div>
        <div class="option">
          <div class="optionContent">
            <label class="optionTitle">Una vez</label>
            <div class="centra">
              <input
                type="radio"
                name="optionPrice"
                class="optionPrice"
                [value]="servicio.Precio_unico"
                (change)="precioSeleccionado = servicio.Precio_unico"
              />

              <span class="optionPriceText"> {{ servicio.Precio_unico }}</span>
            </div>
          </div>
          <div class="additionalInfo">
            <p class="infoItem">{{ servicio.Mensaje_unico }}</p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button addToCart">AÑADIR A LA CESTA</button>
        <button class="button contractNow" (click)="contratarAhora()">
          CONTRATALO YA
        </button>
      </div>
    </div>
  </form>
</div>
