<app-topbar> </app-topbar>

<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="banner">
        <h1>ESTAMOS A UN PASO DE TI</h1>
      </div>
    </div>
  </div>
  <div class="carousel-container">
    <div id="carousel" class="carousel">
      <div class="card-container">
        <div (click)="seleccionarServicio(servicio)" *ngFor="let servicio of servicios" class="card">
          <img [src]="servicio.Imagen" alt="{{ servicio.Nombre }}" />
          <div class="card-overlay"></div>
          <div class="card-body">
            <h5 class="card-title">{{ servicio.Nombre }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="botones" (mouseover)="scrollLeft()">Atrás</button>
    <button class="botones" (mouseover)="scrollRight()">Siguiente</button>
  </div>
</div>
