<!-- <app-topbar> </app-topbar > -->
  
    <div class="container-fluid ">

  
        <!-- Banner -->
        <div class="row">
          <div class="col">
            <div class="banner">
                             
             
              
                  <h1>ESTAMOS A UN PASO DE TI</h1>
                  
            
              </div>
    
          </div>
        </div>
        
        <!-- Cards -->
        <div class="row">
          <!-- Primera fila de "cards" -->
          <div class="col-md-3">
            <div class="card">
                vvvvv
              <!-- Contenido de la primera "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">uu
              <!-- Contenido de la segunda "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">ioi
              <!-- Contenido de la tercera "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">pp
              <!-- Contenido de la cuarta "card" -->
            </div>
          </div>
        </div>
        
        <!-- Segunda fila de "cards" -->
        <div class="row">
          <div class="col-md-3">
            <div class="card">
                4444
              <!-- Contenido de la quinta "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">74
              <!-- Contenido de la sexta "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                47
              <!-- Contenido de la séptima "card" -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">99
              <!-- Contenido de la octava "card" -->
            </div>
          </div>
        </div>
      </div>