<h1 mat-dialog-title class="dheader">BAJA EMBARCACIÓN</h1>
<div mat-dialog-content class="dbody d-flex justify-content-center align-items-center">
    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <label for="matricula">Matrícula</label>
            <input matInput id="matricula" [(ngModel)]="formData.matricula" name="matricula" readonly>
          </mat-form-field><br>
      
          <mat-form-field>
            <label for="causa">Causa</label>
            <textarea matInput id="causa" placeholder="Causa" [(ngModel)]="formData.causa" name="causa" required></textarea>
          </mat-form-field>
          <div mat-dialog-actions>
            <button class="btnDelete btn" type="button" mat-button (click)="onNoClick()">CANCELAR</button>
            <button class="btnAdd btn" mat-button type="submit">ELIMINAR</button>
          </div>
    </form>
</div>
