<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="account-navigation">
        <a class="izquierdaT" routerLink="/cliente/inicio">Inicio/</a>
        <span class="perfil">Mis servicios</span>

        <app-lateral></app-lateral>
      </div>
    </div>

    <div class="col-md-8">
      <div class="Info">Servicios</div>

      <br />
      <p class="service">Mis Servicios</p>
      <ng-container *ngIf="tieneServicios">
        <ng-container *ngFor="let servicio of servicios">
          <app-servicio
            data-toggle="tooltip"
            data-placement="top"
            title="Ver ticket"
            [id]="servicio.id"
            [Estado]="servicio.Estado"
            [Servicio]="servicio.Servicio"
            [FechaContratacion]="servicio.FechaContratacion"
            [Imagen]="servicio.Imagen"
            [Ticket_Numero]="servicio.Ticket_Numero"
            [Ticket_Total]="servicio.Ticket_Total"
            (actualizaEstado)="actualizarListaServicios($event)"
          ></app-servicio>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
