.dbody {
  background: var(--Alto-50, #f7f7f7);
  height: 500px;
  width: 500px;
  padding: 20px;
}

.dheader {
  padding: 5px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
  color: #ffffff;
  background-color: var(--wedgewood950);
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  font-family: Questrial;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
label {
  color: #000;
  width: 200px;
  font-weight: bold;
  /* inter 16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

}
.btnDelete {
  background-color: var(--gold500);
  color: var(--gold950);
  margin-left: 10px;
}
.btnAdd {
    background-color: var(--titanWhite900);
    color: var(--titanWhite50);
    margin-left: 10px;
}