.group-container {
    width: 738px;
    height: 196px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle {
    width: 738px;
    height: 196px;
    background: #D0DCE7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
 
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    margin-top: 30px;
  }
  
  .image-column, .text-column, .icon-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    width: 139.01px;
    height: 125px;
    border-radius: 10.78px;
  }
  
  .text-container {
    text-align: center;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 25px;
  }
  
  .price {
    font-size: 16px;    
    margin-left: 35px;
    margin-bottom: 5px;
  }
  
 
  

  
  
  