<div class="group-container">
  <div class="rectangle">
    <form>
    <div class="content-container">

        <div class="text-container">
            <input type="checkbox" *ngIf="seleccionado"    class="service" name="servicioseleccionado" />
         
          </div>

      <div class="image-column">
        <img
          class="image-container"
          src="https://via.placeholder.com/139x125"
        />
      </div>
      <div class="text-column">
        <div class="text-container">
          <p class="title">REPOSTAJE</p>
        </div>
        <div class="text-container">
          <p class="price">20,00€</p>
        </div>
        <div class="text-container"></div>
      </div>
      <div class="icon-column">
        <a href="#" class="modal-trigger-link">
          <img
            class="trigger-icon"
            src="assets/img/equis.svg"
            alt="Abrir modal"
          />
        </a>
    </div>
</div>
</form>
</div>
</div>
