.recomendaciones {
  width: 776px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 100px;
}

.title {
  color: black;
  font-size: 20px;
  font-family: Questrial;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.images-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image {
  width: 218px;
  height: 131px;
  background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .recomendaciones {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .images-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    width: calc(50% - 10px);
    height: auto;
    margin-bottom: 20px;
  }
}