<app-topbar></app-topbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="account-navigation">
        <a class="izquierdaT">Inicio/</a> <span class="perfil">Métodos de pago</span>
        <div class="izquierdaT">Información de la cuenta</div>
        <a class="izquierda">Mi perfil</a><br /><br />
        <a class="izquierda">Métodos de pago</a>

        <div class="izquierdaT">Embarciones</div>
        <a class="izquierda">Mis embarcaciones</a>
        <div class="izquierdaT">Servicios</div>
        <a class="izquierda">Mis servicios</a><br /><br />
        <a class="cerrar-sesion izquierdaT">Cerrar sesión</a>
       
      </div>
    </div>

    <div class="col-md-9">



        <app-addtarjetas></app-addtarjetas>
      <!-- <div class="Info">Métodos de pago</div>
     
      <br />
      <p class="guardi"> Métodos de pago guardados:</p> -->
         <!-- <app-tarjetas></app-tarjetas> -->
     
    </div>
  </div>
</div>
