.group-container {
  width: 750px;
  height: 196px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rectangle {
  width: 750px;
  height: 196px;
  background: #d0dce7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  margin-top: 30px;
}

.image-column,
.text-column,
.icon-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 139.01px;
  height: 125px;
  border-radius: 10.78px;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="checkbox"]:checked {
  transform: scale(1.5);
  accent-color: #dd6802;
}
.text-container {
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.price {
  font-size: 16px;
  margin-left: 35px;
  margin-bottom: 5px;
}
@media (max-width: 992px) {
  .group-container {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .rectangle {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  .content-container {
    padding: 0 10px;
  }

  .text-column {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .title {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .price {
    margin-left: 0;
  }
}